.App {
  background-color: aquamarine;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: brown; */
  width: 33%;
}

.recipe-title {
  word-wrap: break-word;
}